@charset "UTF-8";

/* @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    overflow: hidden;
    background: #fff;
}
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,main, menu, nav, output, ruby, section, summary,time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,footer, header, hgroup, main, menu, nav, section {display: block;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p, button, pre {
margin: 0;padding: 0;font-size: 16px;color: #333;font-family: 'Noto Sans KR', sans-serif;font-weight: 400;line-height: 150%;}
td, th {padding: 0;font-family: 'Noto Sans KR', sans-serif;font-size: 14px;color: #333;letter-spacing: -0.7px;}
td {border-spacing: 0px;border-style: none;padding: 0px;letter-spacing: -0.7px;}
a {color: inherit;font-size: inherit;font-weight: inherit;line-height: 150%;text-decoration: none;letter-spacing: -0.7px;}
table a:hover{color: #528cde;text-decoration: underline;}
body {
    height: 100%;
    position: relative;
    overflow-y: scroll;
    word-break: keep-all;
    -ms-word-break: keep-all;
}
img, fieldset, iframe {border: 0 none;}
li {list-style: none;letter-spacing: -0.7px;}
input, select, button, textarea {padding: 0;border: 1px solid #ddd;font-family: 'Noto Sans KR', sans-serif;box-sizing: border-box;outline: none;letter-spacing: -0.7px;}
img {max-width: 100%;max-height: 100%;vertical-align: top;}
em, address {font-style: normal}
label, button {cursor: pointer;letter-spacing: -0.7px;}
button {margin: 0;padding: 0;background: none;border: none;line-height: 150%;cursor: pointer;background: none;border: none;letter-spacing: -0.7px;}
button::-moz-focus-inner {padding: 0;border: 0;}
option {padding-right: 6px;font-size: 14px;}
legend {*width: 0;}
table {width: 100%;border-collapse: collapse;border-spacing: 0;}
th,tr,td {border-collapse: collapse;border-spacing: 0;}
pre {white-space: pre-line;}
span {line-height: 100%;}
*[hidden] {display: none;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
input, button {outline: none;}
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 30px transparent inset;-webkit-text-fill-color: #000;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {transition: background-color 5000s ease-in-out 0s;}
select {-webkit-appearance: none;-moz-appearance: none;appearance: none;background: #fff url(../img/selectbox.png) no-repeat 100% 50%;cursor: pointer;}
select::-ms-expand {display: none;}
.no-drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}

.btxt {color: #528cde;}
.dbtxt {color: #2b63b0;}
.rtxt {color: #ff3541;}
.gtxt {color: #848484;}

.page_num {position: relative;margin-top: 37px;text-align: center;font-size: 0;}
.page_num a {
    display: inline-block;
    margin-right: 3px;
    width: 44px;
    height: 44px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    line-height: 42px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    color: #5e5e5e;
    cursor: pointer;
}
.page_num a:last-child {border-right: 1px solid #ccc;margin-right: 0;}
.page_num a.activ {background: #fff;color: #468fed;border: 1px solid #468fed !important;}
.page_num a.page {padding: 0;height: 44px;text-indent: -9999px;border: 1px solid #dbdbdb;}
.page_num a.first {
    background: url(../img/sp.png)no-repeat;
    background-position: -0px 0px;
}
.page_num a.last {
    background: url(../img/sp.png)no-repeat;
    background-position: -140px 0px;
}
.page_num a.l {
    background: url(../img/sp.png)no-repeat;    
    background-position: -49px 0px;
}
.page_num a.r {
    background: url(../img/sp.png)no-repeat;
    background-position: -94px 0px;
}
.page_num .w {position: absolute;right: 0;top: 0;width: auto;padding: 0;border: none;}

.btn1 {background: #2b63b0;color: #fff;width: 160px;height: 60px;text-align: center;line-height: 60px;border-radius: 2px;font-size: 17px;}
.btn2 {background: #528cde;color: #fff;width: 160px;height: 60px;text-align: center;line-height: 60px;border-radius: 2px;font-size: 17px;}
.btn3 {background: #5682c1;color: #fff;width: 130px;height: 40px;text-align: center;line-height: 40px;border-radius: 2px;font-size: 17px;}
select.array{width: 175px;height: 50px;border: 1px solid #ddd;color: #333;padding: 10px;box-sizing: border-box;font-size: 17px;}
input[type='checkbox']{	display: inline-block;width: 17px;height: 17px;margin-right: 5px;border: 1px solid #ddd;background: #f3f3f3;cursor: pointer;border-radius: 0;vertical-align: middle;}
.cb:after {
    content: "";
    display: block;
    clear: both;
}
/*common끝 위 css는 절대 수정하지말거나, 혹시 수정해야한다면 물어봐주세요*/

/*header*/
.dim{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index:11;
}
header{
    position: relative;
    height: 60px;
    background: #fff;
    z-index: 12;
}
header ul{
    display: inline-block;
}
header>ul.mainmenu>li{
    float: left;
    width: 70px;
    line-height: 60px;
    text-align: center;
}
header a, footer a{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select:none;    
}
header>ul.mainmenu>li.sports{
    margin-right: 13px;
}
header>ul>li.menu_btn button{
    width: 20px;
    height: 17px;
    margin-top: 3px;
    background-image: url(../img/allicon.png);
    background-position: -124px -1px;
    text-indent: -9999px;
    vertical-align: -2px;
}
header>ul>li.sns{
    position: relative;
    cursor: pointer;
}
header>ul>li.sns:after{
    content: '';
    display: block;
    position: absolute;
    width: 7px;
    height: 4px;
    top: 30px;
    left: 55px;
    background-image: url(../img/allicon.png);
    background-position: -159px -1px;
}
header>ul>li.sns.on:after{
    transform: rotate(180deg);
}
.sns .sns_list{
    display: none;
    position: absolute;
    width: 155px;
    height: 160px;
    top:60px;
    left:0;
    padding: 20px 16px;
    background: #fff;
    border: 1px solid #dadada;
    box-sizing: border-box;
}
.sns.on .sns_list{
    display: block;
}
.sns .sns_list li{
    display: block;
    width: 100px;
    height: 20px;
    text-align: left;
    padding: 0 0 14px 0px;
}
.sns .sns_list li a{
    display: block;
    position: relative;
    padding: 0 0 16px 23px;
}
.sns .sns_list li.facebook:before{
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 21px;
    left:16px;
    background-image: url(../img/allicon.png);
    background-position: -169px -1px;
}
.sns .sns_list li.instargram:before{
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 55px;
    left: 16px;
    background-image: url(../img/allicon.png);
    background-position: -188px -1px;
}
.sns .sns_list li.youtube:before{
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 89px;
    left: 16px;
    background-image: url(../img/allicon.png);
    background-position: -207px -1px;
}
.sns .sns_list li.navertv:before{
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 123px;
    left: 16px;
    background-image: url(../img/allicon.png);
    background-position: -226px -1px;
}
header .right{
    margin-right: 20px;
}
header .right>li{
    position: relative;
    display: inline-flex;
    padding: 0 15px 0 15px;
}
header .right .login{
    position: relative;
    z-index: 100;
}
header .right .login .login_box{
    display: none;
    position: absolute;
    width: 315px;
    height: 220px;
    top:38px;
    right: 0;
    padding: 25px 20px;
    background: #fff;
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
}
header .right .login .on+.login_box{
    display: block;
}
header .right .login .login_box input{
    position: relative;
    width: 168px;
    height: 39px;
    padding: 12px 16px 12px 36px;
    background: #f6f6f6;
    box-sizing: border-box;
    background:#f6f6f6 url(../img/loginform_bg_04.png) no-repeat 16px center;
    border: 0;
}
header .right .login .login_box input:first-child{
    margin-bottom: 1px;
    background:#f6f6f6 url(../img/loginform_bg_03.png) no-repeat 16px center;
}
header .right .login .login_box div div{
    width: 170px;
    display: inline-block;
}
header .right .login .login_box .btn2{
    float: right;
    width: 103px;
    height: 80px;    
    color:#fff;
    font-size: 16px;
}
header .right .login .login_box .btn2:before,
header .right .login .login_box a:before {
    display: none;
}

header .right .join,
header .right .join_login{
    width: 67px;
}
header .right .mydata{
    width: 60px;
    padding: 0 15px 0 10px;
}
header .right .charge{
    width: 44px;
    padding: 0 15px 0 8px;
}
header .right .c_center{
    width: 67px;
    padding: 0 15px 0 8px;
}
header .right .logout{
    width: 65px;
    padding: 0 15px 0 10px;
}
header .right .login{
    width: 52px;
}
/*전체설정*/
header .right li a:before,
header .right li button:before{
    content: '';
    display:block;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 2px;
    left: -0px;
    background-image: url(../img/allicon.png);    
}
header .right .join a:before{
    width: 17px;
    height: 16px;
    top: 2px;
    left: -5px;
    background-position: -1px -1px;
}
header .right .mydata a:before{
    width: 16px;
    height: 17px;
    top: 2px;
    left: -5px;
    background-position: -48px -1px;
}
header .right .charge a:before{
    width: 16px;
    height: 17px;
    top: 1px;
    left: -5px;
    background-position: -67px -1px;
}
header .right .c_center a:before{
    width: 15px;
    height: 17px;
    top: 1px;
    left: -5px;
    background-position: -86px -1px;
}
header .right .logout button:before{
    width: 12px;
    height: 17px;
    top: 2px;
    left: -5px;
    background-position: -33px -1px;
}
header .right .login button:before{
    width: 12px;
    height: 17px;
    top: 2px;
    left: -5px;
    background-position: -19px -1px;
}

header .right .login .login_box input:first-child:before{
    content: '';
    display:block;
    position: absolute;
    width: 14px;
    height: 15px;
    top: 2px;
    left: -5px;
    background-position: -349px -1px;
}

.login_box>ul{
    height: 11px;
    margin: 10px 0 30px;
}
.login_box>ul li{
    text-align: center;
}
.login_box div.sns_login {
    position: relative;
}
.login .login_box ul{   
    display: block;    
}
.login .login_box ul li{
    position: relative;
    display: inline-block;
    width: 90px;
    text-align: center;
    line-height: 100%;
    box-sizing: border-box;
}
.login .login_box ul li:first-child{
    width: 83px;
    font-weight: bold;
}
.login .login_box ul li:nth-child(2){
    width: 80px;
    margin-right: 7px;    
}
.login .login_box ul li a{
    display: block;
}
header ul.right .login .login_box ul li:after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 1px;
    height: 10px;
    top:6px;
    right:2px;
    background: #dcdcdc;
}
header ul.right .login .login_box ul li:nth-child(1):after {
    right:0px;
}
header ul.right .login .login_box ul li:nth-child(2):after {
    right: -4px;
}
header ul.right .login .login_box ul li:last-child:after {
    display: none;
}
.login .login_box .sns_login{
    position: relative;
    display: flex;
    -webkit-flex-direction:row;
    flex-direction:row;
    width: 275px;
    height: 45px;
    background: #f9f9f9;
}
div.sns_login span{
    margin-left: 20px;
    line-height: 45px;
    font-weight: bold;
}
header div.sns_login a{
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../img/allicon.png);
}
header div.sns_login a.naver{
    top: 10px;
    left: 125px;    
    background-position: -245px -1px;
}
header div.sns_login a.kakao{
    top: 10px;
    left: 160px;
    background-position: -271px -1px;
}
header div.sns_login a.facebook{
    top: 10px;
    left: 195px;
    background-position: -297px -1px;
}
header div.sns_login a.google{
    top: 10px;
    left: 230px;
    background-position: -323px -1px;
}
header ul:after {
    content: "";
    display: block;
    clear: both;
}
header ul:first-child{
    float: left;
}
header ul.right:last-child{
    float: right;
    line-height: 60px;
}
header ul:last-child li,
header ul:last-child button{
    font-size: 13px;
    color:#565656;
    text-align: center;
}
header .right>li>a,
header .right>li>button{
    position: relative;
    padding:0 15px 0 15px;
}
header h1{
    position: absolute;    
    width: 163px;
    height: 27px;
    left: 50%;
    margin-left: -81px;
}
header h1 img{
    margin-top: 16px;
}
/* 오른쪽 작대기 */
header>ul.right>li a:after,
header>ul.right>li button:after{
    content: '';
    position: absolute;
    display: inline-block;
    width: 1px;
    height: 10px;
    top: 5px;
    right: 0;
    
    background: #dcdcdc;
}
header>ul.right>li:last-child a:after,
header>ul.right>li:last-child button:after{
    display: none;
}

/*on off 게임메뉴*/
li.menu_btn{
    position: relative;
}
li.menu_btn .gamemenu{
    display: none;
    position: absolute;
    width: 760px;
    height: 740px;
    background: #fff;
    box-sizing: border-box;
}
.mainmenu .menu_btn>button.on+.gamemenu{
    display: block;
}
li.menu_btn .gamemenu>div{
    padding:20px 40px 50px 40px;
    box-sizing: border-box;   
}
li.menu_btn .gamemenu>div p{
    text-align: left;
    padding-bottom: 17px;
}
li.menu_btn .gamemenu li{
    display: inline-block;
}
li.menu_btn .gamemenu div ul li{
    float: left;
    margin-right: 15px;
}
li.menu_btn .bluemu_wrap{
    position: relative;
    display: flex;
    width: 100%;
    height: 140px;
    padding: 30px 40px !important;
    background: #528cde;
}
li.menu_btn .gamemenu .bluemu{
    display: flex;
}
li.menu_btn .gamemenu .bluemu li:last-child{
    margin-right: 0px;
}
li.menu_btn .gamemenu .bluemu a{    
    display: block;
    width: 56px;
    height: 80px;
    padding-top: 67px !important;
    color:#fff;
    font-size: 13px;
}
li.menu_btn .gamemenu .bluemu a:after {
    content: '';
    display: block;
    position: absolute;
    width: 57px;
    height: 57px;
    top: 0px;
    left: 0px;
    background-image: url(../img/allicon.png);
}
li.menu_btn .gamemenu li{
    width: 80px;
    height: 105px;
}
li.menu_btn .gamemenu li a{
    position: relative;
    display: block;
    text-align: center;
    padding-top: 93px;
}
li.menu_btn .gamemenu .sptmu a:after{
    content: '';
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0px;
    left: 0px;
    background-image: url(../img/gameimg/gameimg1.png);
}
li.menu_btn .gamemenu .ftymu a:after {
    content: '';
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0px;
    left: 0px;
    background-image: url(../img/gameimg/gameimg2.png);
}
li.menu_btn .gamemenu .casinomu a:after{
    content: '';
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0px;
    left: 0px;
    background-image: url(../img/gameimg/gameimg3.png);
}
li.menu_btn .gamemenu .cardmu a:after {
    content: '';
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0px;
    left: 0px;
    background-image: url(../img/gameimg/gameimg4.png);
}
.mid_box{
    display: flex;
}
.gamemenu div div ul{
    float: left;
}
.gamemenu div>ul{
    float: left;
}
.sptmu,
.ftymu{
    display: inline-block !important;
    -webkit-flex-direction:row;
    flex-direction:row;
    width: 330px;
    height: 119px;
    border: 0 !important;
}
.mid_box:after,
.gamemenu div:after,
.gamemenu div>ul:after {
    content: ' ';
    display:block;
    clear: both;
}
li.menu_btn .gamemenu .bluemu li:nth-child(1) a:after {
    background-position: -0px -26px;
}
li.menu_btn .gamemenu .bluemu li:nth-child(2) a:after {
    background-position: -59px -26px;
}
li.menu_btn .gamemenu .bluemu li:nth-child(3) a:after {
    background-position: -117px -26px;
}
li.menu_btn .gamemenu .bluemu li:nth-child(4) a:after {
    background-position: -175px -26px;
}
li.menu_btn .gamemenu .bluemu li:nth-child(5) a:after {
    background-position: -233px -26px;
}
li.menu_btn .gamemenu .bluemu li:nth-child(6) a:after {
    background-position: -291px -26px;
}
li.menu_btn .gamemenu div{
    border-top: 1px solid #e5e5e5;
}
.casinomu,
.cardmu{
    width: 760px;
    height: 196px;
    box-sizing: border-box;
}
.bluemu_wrap .xbtn{
    position: absolute;
    width: 11px;
    height: 11px;
    top: 10px;
    right: 10px;
    background-image: url(../img/allicon.png);
    background-position: -489px -54px;
}
/*on off 게임메뉴 끝*/

/* nav */
nav{
    background: #528cde;
}
nav ul{
    width: 750px;
    height: 80px;
    margin: 0 auto;
    line-height: 80px;
}
nav ul li{
    float: left;
    width: 125px;
}
nav ul li a{
    display: block;
    line-height: 80px;
    color:#cedcf9;
    font-size: 17px;
}
nav ul li.on a{
    color:#fff;
}
nav ul:after {
    content: "";
    display: block;
    clear: both;
}
/* nav끝 */

/*main*/
body.join,
body.join_login{
    background: #ededed;
}
main {
    max-width: 1024px;
    min-width: 600px;
    margin: 0 auto;
}
body.main main {
    width: 1920px;
    max-width: 1920px;
    min-width: 1920px;
    margin: 0 auto;
}

body.join nav,
body.join_login nav{
    display: none;
}
body.join main {
    width: 900px;
    margin: 0 auto;
    padding: 0px 63px 50px 63px;
    background: #fff;
    box-sizing: border-box;
}
body.join_login main {
    width: 590px;
    margin: 0 auto;
    padding: 0px 63px 50px 63px;
    background: #fff;
    box-sizing: border-box;
}
body.join main .tit,
body.join_login main .tit{
    padding-top: 40px;
}
main .tit{
    margin: 40px auto;
    text-align: center;
}
main .tit h3{
    font-size: 35px;
    font-weight: bold;
    color:#333;
}
main .tit h3:after{
    content:'';
    display: block;
    width: 60px;
    height: 2px;
    margin: 30px auto;
    background: #528cde;
}
main .tit p{
    text-align: center;
    color:#303030;
}

/*기본테이블*/
table{
    border-top: 1px solid #8c8c8c;
}
table tr{
    border-bottom: 1px solid #e1e1e1;
}
table tr th{
    width: 190px;
    height: 70px;
    padding: 30px 0 30px 30px;
    font-size: 16px;
    background: #f7f7f7;
    text-align: left;
    box-sizing: border-box;
    vertical-align: middle;
}
table tr td{
    height: 70px;
    padding: 20px 0 20px 20px;
    box-sizing: border-box;
    font-size: 15px;
    vertical-align: middle;
}
table:nth-child(n+2) {
    margin-top: 30px;
}
table td .subtxt{
    margin-left: 35px;
    font-size: 12px;
    color:#548ddc;
}
table td .subtxt:before{
    content:'';
    display: inline-block;
    width: 3px;
    height: 3px;
    margin:0 5px 3px 0;
    border-radius: 5px;
    background-color:#548ddc;
}
.btn_wrap{
    width: 328px;
    text-align: center;
    margin: 40px auto 0;
}
.btn_wrap1{
    width: 160px;
    text-align: center;
    margin: 40px auto 0;
}
.btn_wrap3{
    width: 500px;
    text-align: center;
    margin: 40px auto 0;
}
.btn_wrap button:first-child{
    float: left;
}
.btn_wrap button:last-child{
    float: right;
}
.btn_wrap:after {
    content: "";
    display: block;
    clear: both;
}
/*기본테이블끝*/

/*커스텀테이블*/
table.mydata td{    
    padding: 15px 0;
}
table.mydata td>div{
    float: right;
    width: 500px;
}
table.mydata td>div p,
table.mydata td>div button{
    float: right;
}
table.mydata td>div p{
    margin-right: 20px;
    line-height: 40px;
}
.set_table .block_set td .check_radio:nth-child(2){
    margin-left: 15px;
}
.set_table .receive_tr td p:nth-child(1),
.set_table .receive_tr td p:nth-child(2){
    margin-bottom: 5px;
}
/*커스텀테이블끝*/

/*재화내역*/
.goods{
    width: 100%;
    background: #ececec;
    border: 1px solid #bfbfbf;
    padding: 30px 34px;
    margin-bottom: 50px;
    box-sizing: border-box;
}
.goods ul:after {
    content: "";
    display: block;
    clear: both;
}
.goods ul li{
    float: left;
    width: 300px;
    height: 140px;
    margin-right: 25px;
    border: 1px solid #bfbfbf; 
    padding: 15px 17px;
    box-sizing: border-box;
    background: #fff;
}
.goods ul li:last-child{
    margin-right: 0;
}
.goods ul li div{
    text-align: center;
}
.goods ul li:first-child div{
    text-align: left;
}
.goods ul li div p{
    float: left;
    line-height: 47px;
}
.goods ul li div p:first-child{
    position: relative;
}
.goods ul li div p:last-child{
    float: right;
}
.goods ul li>div:first-child{
    height: 47px;
    border-bottom: 1px solid #e1e1e1;  
}
.goods ul li div:after {
    content: "";
    display: block;
    clear: both;
}
.goods ul li button{
    width: 128px;
    height: 40px;
    line-height: 40px;
    margin: 15px auto;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
}
.goods ul li button:nth-child(2){
    float: right;
}
.goods .spocoin button:nth-child(1){
    float: left;
}
.goods .spocoin p{
    margin-left: 26px;
    color:#917625;  
}
.goods .mileage p{
    margin-left: 26px;
    color:#5332a3;    
}
.goods .heart p{
    margin-left: 26px;
    color:#9a3839;
}
.goods .spocoin p:first-child:before{
    content: '';
    display: block;
    position: absolute;
    width: 21px;
    height: 21px;
    left: -26px;
    top: 13px;
    background-image: url( "../img/allicon.png" );
    background-position: -348px -26px;
}
.goods .mileage p:first-child:before{
    content: '';
    display: block;
    position: absolute;
    width: 21px;
    height: 21px;
    left: -26px;
    top: 13px;
    background-image: url( "../img/allicon.png" );
    background-position: -370px -26px;
}
.goods .heart p:first-child:before{
    content: '';
    display: block;
    position: absolute;
    width: 21px;
    height: 21px;
    left: -26px;
    top: 13px;
    background-image: url( "../img/allicon.png" );
    background-position: -392px -26px;
}
.bartit{
    position: relative;
    margin: 0 0 30px 10px;
    text-align: left;
    font-size: 21px;
}
.bartit p{
    margin:15px  0 0 -10px;
    color:#616161;
}
.mdfypw_txt p{
    font-size: 14px;
}
.join .bartit{
    position: relative;
    margin: 0 0 10px 10px;
    text-align: left;
    font-size: 20px;
}
.bartit .sub{
    float: right;
    position: relative;
    font-size: 14px;
    line-height: 30px;
}
.bartit .sub:before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 7px;
    top: 12px;
    left: -16px;
    background-image: url(../img/allicon.png);
    background-position: -425px -19px;
}
.bartit:after{
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 24px;    
    left: -10px;
    top: 4px;
    background: #578fdc;    
}
.goodsboard{
    border: 1px solid #c0c0c0;
}
.goodsboard th{
    height: 60px;
    padding: 0;
    line-height: 60px;
    text-align: center;
    border-right: 1px solid #e1e1e1;
    box-sizing: border-box;
}
.goodsboard td{
    height: 60px;
    padding: 0;
    line-height: 60px;
    text-align: center;
    border-right: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    border-bottom: 0px;
    color:#5e5e5e;
    box-sizing: border-box;
}
.goodsboard td:last-child{
    border-right: 0;
    border-bottom: 0px;
}
.goodsboard tr:last-child td{
    border-bottom: 0;
}
.goodsboard th:nth-child(1){
    width: 205px;

}
.goodsboard th:nth-child(2){
    width: 160px;
}
.goodsboard th:nth-child(3){
    width: 220px;
}
.goodsboard th:nth-child(4){
    width: 220px;
}
.goodsboard th:nth-child(5){
    width: 220px;
    border-right: 0px;
}
.goodsboard tr{
    border-bottom:0;
}
.goodsboard tr td:nth-child(2) {
    position: relative;
}
.goodsboard tr.add td:nth-child(2):before{    
    content: '';
    display: block;
    position: absolute;
    width: 62px;
    height: 29px;
    top: 16px;
    left: 45px;
    background-image: url( "../img/allicon.png" );
    background-position: -349px -54px;
}
.goodsboard tr.use td:nth-child(2):before{    
    content: '';
    display: block;
    position: absolute;
    width: 62px;
    height: 29px;
    top: 16px;
    left: 45px;
    background-image: url( "../img/allicon.png" );
    background-position: -412px -54px;
}
.goodsboard .mile_tr th{
    padding: 13px 30px;
    background: #353535;
}
.goodsboard .mile_tr p{
    float: left;
    font-size: 18px;
    color:#fff;
    margin-top: 5px;
}
.goodsboard .mile_tr p span{
    font-size: 13px;
    color: #fd363b;
}
.goodsboard .mile_tr div{
    float: right;
    height: 40px;
    line-height: 40px;
}
.goodsboard .mile_tr input{
    width: 210px;
    height: 40px;
    padding: 15px 20px;
    background: #5d5d5d;
    color:#fff;
    border: 0px;
    box-sizing: border-box;
    text-align: right;
}
.goodsboard .mile_tr button{
    width: 100px;
    height: 40px;
    color:#fff;
    border: 1px solid #fff;
    border-radius: 2px;
    vertical-align: -2px;
}
.mile_tr th:after {
    content: ' ';
    display: block;
    clear: both;
}
/*재화내역 끝*/

/*게시판*/
.board_nav{
    margin-bottom: 70px;
}
.board_nav:after {
    content: ' ';
    display: block;
    clear: both;
}
.board_nav li{
    float: left;
    width: 20%;
    height: 70px;
    background: #f7f7f7;
    border: 1px solid #c0c0c0;
    text-align: center;
    color:#848484;
    font-size: 18px;
    border-right: 0;
    box-sizing: border-box;
}
.board_nav.bn3{
    margin-left: 62px;
}
.board_nav.bn3 li{
    width: 300px;
    height: 70px;
}
.board_nav li a{
    display: block; 
    line-height: 70px;
}
.board_nav li:last-child{
    border-right: 1px solid #c0c0c0;
}
.board_nav li.on{
    color:#fff;
    background: #2b63b0;
    border: 1px solid #2b63b0;
}
.search{
    width: 550px;
    height: 30px;
    margin: 0 auto;
}
.search:after {
    content: ' ';
    display: block;
    clear: both;
}
.search select{
    position: relative;
    float: left;
    width: 165px;
    height: 25px;
    border: 0;
    border-bottom: 1px solid #e1e1e1;
}
.search div{
    float: right;
    width: 380px;    
    border-bottom: 1px solid #e1e1e1;    
}
.search div input{
    padding:0 10px;
    border: 0;
}
.search div button{
    float: right;
    width: 20px;
    height: 18px;
    margin-right: 10px;
    background-image: url( "../img/allicon.png" );
    background-position: -414px -26px;    
}
.board .noti{
    background: #f6f6f6;
}
.board td{
    position: relative;
    padding: 25px 0;
}
.board td:nth-child(1){
    width: 110px;
    text-align: center;
}   
.board td:nth-child(3){
    width: 100px;
    text-align: center;
}
.board td:nth-child(n+3){
    color:#848484;
}
td.date{
    width: 140px;
    padding-left: 17px;
    text-align: center;
}
td.date:before,
.date:before{    
    content: '';
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    top: 29px;
    left: 26px;
    background-image: url( "../img/allicon.png" );
    background-position: -482px -1px;
}
.board td:nth-child(5){
    width: 100px;
    padding-left: 25px;
    text-align: center;
}
.board td:nth-child(5):before{    
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 12px;
    top: 30px;
    left: 26px;
    background-image: url( "../img/allicon.png" );
    background-position: -460px -1px;
}
.board tr.noti td:nth-child(1):before{    
    content: '';
    display: block;
    position: absolute;
    width: 49px;
    height: 24px;
    top: 25px;
    left: 30px;
    background-image: url( "../img/allicon.png" );
    background-position: -436px -27px;
}
/*게시판 끝*/

/*고객센터 자주하는질문*/
.qna_nav{
    width: 660px;
    margin: 40px auto 30px;
}
.qna_nav li{
    float: left;
    width: 122px;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #eee;
    color:#939393;
    border-radius: 50px;
    text-align: center;
    line-height: 39px;
    box-sizing: border-box;
}
.qna_nav li.on{
    border: 1px solid #fff;
    color:#fff;
    background: #333;
}
.qna_nav:after {
    content: ' ';
    display: block;
    clear: both;
}
.qna th{
    padding: 20px 0 20px 30px;
    box-sizing: border-box;
}
.qna th p{
    display: inline-block;
}
.qna th ul{
    float: right;
}
.qna th ul li{
    position: relative;
    float: left;
    width: 85px;
    text-align: center;
    font-size: 14px;
}
.qna th ul li:after{
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 10px;
    top:6px;
    background: #adadad;
}
.qna th ul li:first-child:after{
    display: none;
}
.qna th ul li:nth-child(1),
.qna th ul li:nth-child(4),
.qna th ul li:nth-child(5){
    width: 70px;
}
.qna th ul li a{
    display: block;
    color:#878787;
}
.qna th ul li a:hover,
.qna th ul li.on a{
    display: block;
    color:#5189dc;
    text-decoration: none;
}
.qna th ul:after {
    content: ' ';
    display: block;
    clear: both;
}
.qna td{
    position: relative;
}
.qna .on td{
    background: #fbf7ec;
}
.qna td:nth-child(1){
    width: 110px;
}
.qna td:nth-child(2){
    width: 914px;
    padding:0 0 0 50px;
    line-height: 68px;
    box-sizing: border-box;
    font-size: 16px;
    cursor: pointer;
}
.qna .quest td:nth-child(1):before {
    content: '';
    display: block;
    position: absolute;
    width: 49px;
    height: 24px;
    top: 23px;
    left: 50%;
    margin-left: -24px;
    background-image: url(../img/allicon.png);
    background-position: -231px -84px;
}
.qna .game td:nth-child(1):before {
    width: 75px;
    background-position: -282px -84px;
}
.qna .bet td:nth-child(1):before {
    width: 75px;
    background-position: -282px -109px;
}
.qna .account td:nth-child(1):before {
    background-position: -231px -109px;
}
.qna .and td:nth-child(1):before {
    background-position: -359px -84px;
}
.qna .quest td:nth-child(2):before {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 15px;
    top: 28px;
    left: 28px;
    margin-right: 30px;
    background-image: url(../img/allicon.png);
    background-position: -487px -16px;
}
.qna td:nth-child(2):after {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 7px;
    top: 31px;
    right: 0;
    margin-right: 30px;
    background-image: url(../img/allicon.png);
    background-position: -146px -13px;
}
.qna .on td:nth-child(2):after {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 7px;
    top: 31px;
    right: 0;
    margin-right: 30px;
    background-image: url(../img/allicon.png);
    background-position: -146px -13px;
    transform: rotate(180deg);
}
.qna .answer td:nth-child(2):before {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 15px;
    top: 28px;
    left: 28px;
    margin-right: 30px;
    background-image: url(../img/allicon.png);
    background-position: -488px -33px;
}
.qna .answer td:nth-child(2):after{
    display: none;
}
.qna .answer td:nth-child(2){
    cursor: default;
}
.qna .answer,
.qna .answer td{
    height: auto;
}
.qna .answer td:nth-child(2){
    padding: 22px 0 24px 50px;
    line-height: 25px;
}
/*고객센터 자주하는질문 끝*/

/*고객센터-글쓰기*/

.write tr td,.write tr th{
    height: 90px;
    padding: 20px 0 20px 25px;
    vertical-align: middle;
    box-sizing: border-box;
}
.write tr:first-child td{
    display: flex;
    -webkit-flex-direction:row;
    flex-direction:row;
    padding: 25px 0 25px 25px;
}
.write tr:first-child th,
.write tr:first-child td{
    padding: 20px 0 20px 25px;
}
.write td input[type=text],
table.join td input[type=text]{
    width: 524px;
    height: 50px;
    padding: 5px 0 5px 20px;
    border: 1px solid #e1e1e1;
}
.write tr.content th{
    line-height: 500px;    
}
.write .email_answer label{
    margin-left: 10px;
}
.write .kind button{
    width: 122px;
    height: 40px;
    margin:5px 10px 0 0;
    border: 1px solid #eee;
    color:#939393;
    border-radius: 50px;
    text-align: center;
    line-height: 39px;
    box-sizing: border-box;
    }
.write .kind button.on{
    border: 1px solid #fff;
    color:#fff;
    background: #333;
}
.write .kind div{
    overflow: hidden;
    width: 200px;
    height: 40px;
    margin-top: 5px;
    border: 1px solid #313131;
    color:#313131;
    border-radius: 50px;
    text-align: center;
    line-height: 39px;    
    box-sizing: border-box;
}
.write .kind div select{
    width: 90%;
    border: 0;
    font-size: 16px;
}

.betupload button{
    width: 110px;
    height: 50px;
    border: 1px solid #e1e1e1;
    background: #f7f7f7; 
    margin-right: 10px;
    

}
/*고객센터-글쓰기 끝*/

/*고객센터-문의내역 테이블*/
.inquiry td{
    text-align: center;
    line-height: 70px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.inquiry td:nth-child(1){
    width: 130px;
    font-weight: 600;
}
.inquiry td:nth-child(2){
    width: 50px;
    color:#848484;
}
.inquiry td:nth-child(3){
    padding-left: 30px;
    text-align: left;
    width:400px;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    display:block;
    overflow:hidden;
}
.inquiry td:nth-child(4){
    overflow:hidden;
    width:102px;
    max-width: 102px;
    color:#848484;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;   
    font-size: 14px;
    font-weight: 400;
}
.inquiry td:nth-child(5){
    position: relative;
    width: 100px;
}
.inquiry td:nth-child(6){
    position: relative;
    padding-left: 17px;
    color:#848484;
    font-size: 14px;
    font-weight: 400;
}
.inquiry td:nth-child(5):before {
    content: '';
    display: block;
    position: absolute;
    width: 68px;
    height: 25px;
    top: 24px;
    left: 16px;
    background-image: url(../img/allicon.png);
    background-position: -410px -84px;
}

.inquiry .end td:nth-child(5):before {
    content: '';
    display: block;
    position: absolute;
    width: 68px;
    height: 25px;
    top: 24px;
    left: 16px;
    background-image: url(../img/allicon.png);
    background-position: -410px -110px;
}
/*고객센터-문의내역 테이블 끝*/


/*고객센터-문의내역 뷰*/
.view div div,
.view_answer div div{
    color:#333;
    font-size: 15px;
}
.view .tit,
.view_answer .tit{
    margin: 0;
    padding: 0;
    background: #f6f6f6;
    border-top: 1px solid #8c8c8c;
}
.view .tit div,
.view .contact div,
.view_answer .tit div{    
    float: left;
    height: 70px;
    line-height: 70px;
}
.view .tit div:nth-child(1){
    width: 130px;
}
.view .tit div:nth-child(2){
    width: 80px;
    color:#848484;
}
.view .tit div:nth-child(3){
    width: 542px;
    text-align: left;
    padding-left: 30px;
}
.view .tit div:nth-child(4){
    overflow:hidden;
    width:102px;
    max-width: 102px;
    margin-right: 20px;
    color:#848484;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;   
}
.view .tit div:nth-child(5){
    position: relative;
    width: 120px;
    color:#848484;
    text-align: right;
    padding-right: 30px;
    box-sizing: border-box;
}
.view .tit div:nth-child(5):before{
    left: -1px !important;
}
.view_answer .tit div:nth-child(3):before{
    top: 29px;
    left: 24px;
}
.view .tit:after,
.view .contact:after,
.view_answer .tit:after {
    content: "";
    display: block;
    clear: both;
}
.view .contact div{
    padding-left: 25px;
    border: 1px solid #dedede;
    border-right: 0px solid #000;
    box-sizing: border-box;
}
.view .tit div:nth-child(1){
    font-weight: 600;
}
.view .contact div:nth-child(odd){    
    width: 140px;
    background: #fcfcfc;    
}
.view .contact div:nth-child(2n){
    width: 372px;    
}
.view .contact div:last-child{
    border-right: 0;
}
.view .contact div:first-child{
    border-left: 0;
}
main .view div.txt,
main .view_answer div.txt{
    padding: 25px;
}
main .view_answer div.txt{
    border-bottom: 1px solid #e1e1e1;
}
.view_answer .tit div{
    border-bottom: 1px solid #e0e0e0;
}
.view_answer .tit div:nth-child(1){
    position: relative;
    width: 728px;
    padding-left: 50px;
    text-align: left;
    box-sizing: border-box;
    font-size: 17px;
    color:#528cde;
}
.view_answer .tit div:nth-child(1):before {
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 11px;
    top: 30px;
    left: 30px;
    background-image: url(../img/allicon.png);
    background-position: -464px -15px;
}
.view_answer .tit div:nth-child(2){
    width: 90px;
    color: #848484;
}
.view_answer .tit div:nth-child(3){
    position: relative;
    width: 206px;    
    padding-right: 30px;
    color: #848484;
    text-align: right;    
    box-sizing: border-box;
}
.view_btn{
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.view_btn button{
    width: 100px;
    height: 50px;
    margin: 25px 0 0 5px;
    border-radius: 2px;
    line-height: 50px;
    font-size: 15px;
}
/*고객센터-문의내역 뷰 끝*/

/*회원가입*/
table.join{
    margin-top: 25px;
}
.join th,.join td{
    height: 90px;
    margin: 0;
    padding: 0 0 0 30px;
    line-height: 90px;
}
.join th{
    padding-left: 45px;
    vertical-align: middle;
}
.join .essential th{
    position: relative;
}
.join .hide_tr{
    display: none;
}
.join .essential th:before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 7px;
    top: 40px;
    left: 30px;
    background-image: url(../img/allicon.png);
    background-position: -425px -19px;
}
.join .essential.agree_tr th:before {
    top: 90px;
}
.join .essential.agree_tr td{
    padding: 20px;
}
.join .essential.agree_tr td div{
    font-size: 13px;
    color:#848484;
    margin-bottom: 5px;
}
.join .essential.agree_tr label{
    line-height: 25px;
}
.join .essential.agree_tr button{
    width: 60px;
    height: 21px;
    margin-left: 5px;
    line-height: 25px;
    background-image: url(../img/allicon.png);
    background-position: -0px -137px;
    text-indent: -9999px;
    vertical-align:-5px;
}
.join .essential.agree_tr td div:first-child{
    font-size: 14px;
    color:#000;
}
.join td .btxt{
    font-size: 12px;
}
.receive_tr td{
    padding: 20px;
}
.receive_tr td p{
    vertical-align: middle;
}
.receive_tr td p:first-child{
    margin-bottom: 7px;
}
.receive_tr td .btxt{
    margin-left: 28px;
}
.receive_tr td .check_radio{
    font-size: 15px;
}
.joinid_tr td{
    padding: 20px 0 20px 30px;

}
.joinid_tr td div{
    width: 370px;
    line-height: 24px;
    margin-bottom: 10px;
}
.joinid_tr td div span{
    line-height: 24px;
}
.joinid_tr td div span:first-child{
    position: relative;
    padding-left: 10px;
}
.joinid_tr td div span:first-child:before{
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    top:12px;
    left:0;
    border-radius: 50px;
    background: #000;
}
.joinid_tr td p.btxt{
    margin-left: 10px;
}
.joinid_tr td div span:last-child{
    float: right;
}
/*회원가입 끝*/

/*정보수정*/
/*정보수정-비밀번호확인*/
.password_box{
    padding: 50px 145px;
    background: #f7f7f7;    
    border-top: 1px solid #8b8b8b;
    border-bottom: 1px solid #8b8b8b;    
}
.password_box input[type=password]{
    width: 570px;
    height: 60px;
    padding: 20px;
    vertical-align: 1.5px;
    border: 1px solid #e1e1e1;
}
/*정보수정-비밀번호확인 끝*/

/*정보수정끝*/
/*회원탈퇴*/
.joinout_box{
    padding: 30px;
    background: #f7f7f7;    
    border-top: 1px solid #8b8b8b;
    border-bottom: 1px solid #8b8b8b;
    font-size: 13px;
}
.joinout_box p{
    position: relative;
    font-size: 16px;
    margin:0 0 7px 10px;
}
.pb20{
    padding-bottom: 20px;
}
.joinout_box p:before{
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    top: 11px;
    left: -8px;
    background: #000;
    border-radius: 10px;
}
.joinout_box span{
    display: block;
    margin:0 0 0px 15px;
    line-height: 25px;
    color:#5d5d5d;
}
.joinout_box span u{
    color:#2b63b0;
}
.joinout_box span:before{
    content: '-';
}
.joinout_ck{
    margin: 25px 30px;
    font-size: 14px;
}
/*회원탈퇴 끝*/




/*게시물 뷰 페이지*/
.bd_view .tit div:nth-child(1){
    width: 782px;
    text-align: left;
    padding-left: 30px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
}
.bd_view .tit div:nth-child(2){
    overflow:hidden;
    width:102px;
    max-width: 102px;
    margin-right: 20px;
    color:#848484;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;   
    box-sizing: border-box;
}
.bd_view .tit div:nth-child(3){
    position: relative;
    width: 120px;
    color:#848484;
    text-align: right;
    padding-right: 30px;
    box-sizing: border-box;
}
.bd_view .tit div:nth-child(3):before{
    left: 2px !important;
}
.bd_view div div{
    color:#333;
    font-size: 14px;
}
.bd_view .tit{
    margin: 0;
    padding: 0;
    background: #f6f6f6;
    border-top: 1px solid #8c8c8c;
}
.bd_view .tit div{    
    float: left;
    height: 70px;
    line-height: 70px;
}
.bd_view .tit:after{
    content: "";
    display: block;
    clear: both;
}
.bd_view div.txt{
    padding: 25px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.bd_view .more_view{
    margin-bottom: 50px;
    border-bottom: 1px solid #ddd;
}
.bd_view .more_view li{
    padding:10px 25px 0 25px;
}
.bd_view .more_view li:last-child{
    padding:10px 25px 15px 25px;
}
.bd_view .more_view li span{
    font-size: 14px;
    margin-left: 20px;
}
.bd_view .more_view li span:last-child:hover{
    color:#528cde;
    text-decoration: underline;
}
.bd_view .more_view li span:first-child{
    position: relative;
}
.bd_view .more_view li:first-child span:first-child:after {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 7px;
    top: 8px;
    left: -27px;
    background-image: url(../img/allicon.png);
    background-position: -146px -13px;
    transform: rotate(180deg);
}

.bd_view .more_view li:last-child span:first-child:after {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 7px;
    top: 9px;
    left: -26px;
    background-image: url(../img/allicon.png);
    background-position: -146px -13px;
}

.noti_view {
    position: relative;
}
.noti_view .tit div:first-child{
    padding-left: 90px;
    box-sizing: border-box;
}
.noti_view:after{
    content: '';
    display: block;
    position: absolute;
    width: 49px;
    height: 24px;
    top: 25px;
    left: 30px;
    background-image: url(../img/allicon.png);
    background-position: -436px -27px;
}
/*게시물 뷰 페이지 끝*/

/*댓글*/
.comment input[type=text] {
    width: 860px;
    height: 60px;
    padding: 20px;
    vertical-align: 1.5px;
    border:1px solid #8c8c8c;
}
.comment .comment_count{
    margin-top: 30px;
    padding: 25px;
    background: #f6f6f6;
    border-top: 1px solid #8c8c8c;
    border-bottom: 1px solid #e1e1e1;
}
.comment .comment_list li{
    position: relative;
    padding: 20px 25px;
    border-bottom: 1px solid #e1e1e1;
}
.comment .comment_list li span{
    font-size: 15px;
}
.comment .comment_list li span.gtxt{
    margin-left: 15px;
}
.comment .comment_list .cmt_box{
    padding: 10px 0 0 0;
}
.comment .cmt_add{
    margin-top: 20px;
}
.comment .cmt_add button{
    width: 110px;    
}
.comment .cmt_reply div{
    margin-left: 30px;
}
.comment .cmt_reply div:first-child{
    position: relative;
}
.comment .cmt_reply div:first-child:before {
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 11px;
    top: 7px;
    left: -20px;
    background-image: url(../img/allicon.png);
    background-position: -464px -15px;
}
.comment .cmt_btn{
    display: flex;
    position: absolute;
    width: 140px;
    top: 20px;
    right: 25px;
}
.comment .cmt_reply .cmt_btn{
    top: 0px;
    right: 0px;
}
.comment .cmt_btn li{
    -webkit-flex-direction:row;
    flex-direction:row;
    margin: 0 0 0 5px;
    padding: 0;
    border: 0;    
}
.comment .cmt_btn li button{
    width: 40px;
    height: 25px;
    line-height: 23px;
    border-radius: 2px;
    border: 1px solid #848484;
    color:#333;    
    font-size: 14px;
}
.comment .cmt_btn li.del button{
    color:#8b0000;
}
/*댓글 끝*/


/*체크박스라벨*/
input[type=checkbox]{
    display: none;
}
.check_radio:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    margin: 2px 6px 3px 0;
    vertical-align: middle;
    background-image: url(../img/allicon.png);
    background-repeat: no-repeat;
    background-position: -423px -1px;
}
.check_radio.on:before {
    background-position: -441px -1px;
}
/*체크박스라벨 끝*/

/*로그인페이지*/
.login_page .input_wrap{
    text-align: center;
}
.login_page .input_wrap input{
    position: relative;
    display: block;
    width: 390px;
    height: 60px;
    padding: 23px 47px;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 2px;
    border: 0;
    box-sizing: border-box;
    background:#f6f6f6 url(../img/loginform_bg_01.png) no-repeat 21px center;
}
.login_page .input_wrap input[type=password]{
    background:#f6f6f6 url(../img/loginform_bg_02.png) no-repeat 21px center !important;
}
.login_page .input_wrap .btn2{
    width: 390px;
    height: 60px;   
    font-size: 20px; 
}
.login_page ul{
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 25px 0 30px;
}
.login_page li{
    position: relative;
    font-size: 14px;
    padding: 0 20px;    
}
.login_page li:after{
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 11px;
    top: 5px;
    right: 0;
    background: #d4d4d4;
}
.login_page li:last-child:after{
    display: none;
}
.login_page li:nth-child(1){
    width: 60px;    
}
.login_page li:nth-child(2){
    width: 71px;    
}
.login_page li:nth-child(3){
    width: 85px;    
}
.login_page p{
    text-align: center;
}
.login_page .sns_login{
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 259px;
    height: 51px;
    margin: 23px auto 0;
}
.login_page .sns_login a{
    width: 51px;
    height: 51px;
    margin-right: 18px;
}
.login_page .sns_login a:last-child{
    margin: 0;
}
.login_page .sns_login a.naver{
    background-image: url(../img/allicon.png);
    background-position: -0px -84px;
}
.login_page .sns_login a.kakao{
    background-image: url(../img/allicon.png);
    background-position: -59px -84px;
}
.login_page .sns_login a.facebook{
    background-image: url(../img/allicon.png);
    background-position: -119px -84px;
}
.login_page .sns_login a.google{
    background-image: url(../img/allicon.png);
    background-position: -178px -84px;
}
/*로그인페이지 끝*/

/*정보수정*/
.mydata_update tr td input[type="text"], .mydata_update tr td input[type="password"]{
    width: 524px;
    height: 50px;
    padding-left: 20px;
}
.mydata_update tr td input[type="file"]{    
    top: 0;
    right: 0;
    margin: 0 0 10px 0;
    padding: 0;
}
.profile_file{
    padding: 20px 45px;
    border: 1px solid #898989;
    background: #f7f7f7; 
}
table td .profile_text{
    font-size: 14px;
}
table td .profile_text:before{
    content:'';
    display: inline-block;
    width: 3px;
    height: 3px;
    margin:0 5px 3px 0;
    border-radius: 5px;
    background-color:#333;
}
/*정보수정 끝*/

/*아이디 찾기 팝업창 페이지*/
.choice_btn{
    width: 600px;
    height: 70px;
    margin: 0 auto;
}
.choice_btn button{
    width: 300px;
    height: 70px;
    float: left;
    color:#848484;
    border: 1px solid #BFC0C2;
}
.choice_btn{
    background-color: #F8F9FB;
}
.choice_btn .on{
    border: 1px solid #2B63B0;
    background-color: #2B63B0;
    color:#EBEAF8;
}
.pop_tit{
    text-align: center;
    margin: 40px 150px 30px 150px;
}
.pop_tit p{
    color:#595959;
}
.pop_tit h2{
    display: inline-block;
    font-size: 25px;
    height: 35px;
}
.id_find .pop_tit h2{
    padding-left: 31px;
    background: url(../img/findtit_icon_id.png) no-repeat 0 center;
}
.pw_find .pop_tit h2{
    padding-left: 31px;
    background: url(../img/findtit_icon_pw.png) no-repeat 0 center;
}
.id_find>button{
    display: block;
    width: 510px;
    height: 91px;
    margin: 0 auto;
    box-sizing: border-box;
}
.id_find>button:hover{
    border: 2px solid #5890e3;
}
.id_find .ch_pon{
    background: url(../img/id_fid_01.png) no-repeat;
    margin-bottom: 10px;
}
.id_find .ch_ipin{
    background: url(../img/id_fid_02.png) no-repeat;
}
.pop_id_find{
    width: 510px;
    height: 240px;
    margin: 0 auto;
    border-top: 1px solid #8c8c8c;
    color: #626262;
}
.pop_id_find tr{
    height: 60px;
}
.pop_id_find tr th{
    width: 255px;
    height: 60px;
    padding: 15px 0 15px 0;
    text-align: center;
}
.pop_id_find tr td{
    height: 60px;
    font-size: 14px;
}
.pop_id_find tr td p{
    font-size: 14px;
}
.pop_id_find tr td:nth-child(1){
    padding: 15px 0 15px 35px;
}
.pop_id_find tr td:nth-child(2),
.pop_id_find tr td:nth-child(3){
    padding: 15px 0 15px 0;
    text-align: center;
}
.pop_id_find tr th:nth-child(1){
    width: 255px;
}
.pop_id_find tr th:nth-child(2){
    width: 130px;
}
.pop_id_find tr th:nth-child(3){
    width: 125px;
}
.pop_id_find tr:nth-child(4){
    border-bottom: 1px solid #8c8c8c;
}
.pop_id_find tr.stop td,
.pop_id_find tr.out td{
    color:#5e5e5e;    
}
.pop_id_find .normal.on td{
    color:#5486e7
}
.pop_id_find tr.stop td:last-child{
    color: #FC6E6C;
}
/*아이디 찾기 팝업창 페이지 끝*/

/*비번 찾기 팝업창 페이지*/
.pw_find .pw_btn button{
    float: none;
}
.input_id{
    text-align: center;
}
.input_id input[type=text]{
    margin: 0 45px;
    width: 510px;
    height: 60px;
    padding-left: 25px;
}
.pop_pw_find{
    width: 510px;
    height: 210px;
    margin: 0 auto;
}
.pop_pw_find tr{
    height: 70px;
}
.pop_pw_find tr th{
    width: 140px;
    padding: 25px 0 25px 30px;
    font-size: 14px;
    font-weight: 500;
}
.pop_pw_find input[type=password]{
   height: 45px;
   width: 315px;
   padding-left: 20px;
}
.ch_msg{
    width: 510px;
    height: 200px;
    margin: 0 auto;
    background: url(../img/new_pw.png) no-repeat;
}
.pw_find>.pw_btn,
.id_find>.pw_btn{
    margin-bottom: 90px;
}
/*비번 찾기 팝업창 페이지 끝*/

/*메인페이지*/
.main ul.menu{
    position: absolute;
    width: 1008px;
    top: 129px;
    left: 895px;
    cursor: pointer;
    z-index: 10;
}
.main ul.menu>li{
    float: left;
    margin:0 26px 26px 0px;
    transition: all .5s ease-out;
}
.main ul.menu li div{
    overflow: hidden;
    width: 310px;
}
.main ul.menu li div.img{
    height: 197px;
}
.main ul.menu li .txt{
    height: 83px;
    padding:17px 20px;
    background: #fff;
    box-sizing: border-box;
}
.main ul.menu li .txt p{
    font-weight: bold;
    font-size: 18px;
}
.main ul.menu li .txt span{
    color: #616161;
    font-size: 12px;
}
.main ul.menu li>div:first-child img {
    width:100%;
    transition:.7s ease;
    -webkit-transition:.7s ease;
}
.main ul.menu>li:hover{
    -webkit-box-shadow: 18px 18px 26px rgba(0,0,0,0.2);
    box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.5);
}
.main ul.menu>li:hover>div:first-child img {
    transform:scale(1.08);
    -webkit-transform:scale(1.08);
}
.main ul.menu li.full_menu div{
    width: 310px !important;    
    height: 280px !important;
}
.main ul.menu li div.mini_slider{
    width: 646px !important;    
    height: 197px !important;
}
/*미니슬라이드 도트*/
.mini_slider .swiper-pagination{
    width: 100% !important;
}
.mini_slider .swiper-pagination-bullet{
    width: 26px;
    height: 9px;
    opacity: 1;
    border-radius: 50px;
    background-color: #101012;
}
.mini_slider .swiper-pagination-bullet-active{
    background: #ff8730 !important;
}
.clearfix:after {
    content: ' ';
    display: block;
    clear: both
}
.main ul.swiper-wrapper{
    margin:0;
    padding:0;
}
body.main .main_noti{
    width: 310px;
    height: 197px;
    padding: 23px 20px;
    background: #fff;
    box-sizing: border-box; 
    cursor: default;   
}
body.main ul.menu li.main_noti>div{
    width: 260px;
    font-size: 17px;
    font-weight: bold;
}
body.main .main_noti div a{
    float: right;
    width: 18px;
    height: 18px;
    background-image: url(../img/allicon.png);
    background-position: -104px -1px;
}
body.main .main_noti ul.list li{
    padding: 15px 0; 
}
body.main .main_noti ul.list li:first-child{      
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
}
body.main .main_noti ul.list li a div{
    overflow:hidden;
    width: 240px;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;    
    font-weight: 400;
    font-size: 14px;    
}
body.main .main_noti ul.list li p{
    position: relative;
    color:#878787;
    font-size: 12px;
    margin-left: 15px;
}
body.main .main_noti ul.list li p:before {
    content: '';
    display: block;
    position: absolute;
    width: 11px;
    height: 11px;
    top: 5px;
    left: -15px;
    background-image: url(../img/allicon.png);
    background-position: -146px -2px;
}
.section_slider{
    max-width: 1920px;
    min-width: 1000px;
}
/*메인페이지 끝*/

/*로딩모션*/
.loader_box{
    height: 300px;
}
.loader{
    position: relative;
    width: 12px;
    height: 12px;

    top: 46%;
    top: -webkit-calc(50% - 6px);
    top: calc(50% - 6px);
    left: 46%;
    left: -webkit-calc(50% - 6px);
    left: calc(50% - 6px);
    
    border-radius: 12px;
    background-color: #2b63b0;
    -webkit-transform-origin:  50% 50%;
            transform-origin:  50% 50% ;
    -webkit-animation: loader 1s ease-in-out infinite;
            animation: loader 1s ease-in-out infinite;
}
.loader:before{
    content: "";
    position: absolute;
    background-color: rgba(82, 140, 222, 1);
    top: 0px;
    left: -25px;
    height: 12px;
    width: 12px;
    border-radius: 12px;
}
.loader:after{
    content: "";
    position: absolute;
    background-color: rgba(82, 140, 222, 1);
    top: 0px;
    left: 25px;
    height: 12px;
    width: 12px;
    border-radius: 12px;
}
@-webkit-keyframes loader{
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(180deg);}
    100%{-webkit-transform:rotate(180deg);}
}
@keyframes loader{
    0%{transform:rotate(0deg);}
    50%{transform:rotate(180deg);}
    100%{transform:rotate(180deg);}
}
/*로딩모션끝*/
/*main끝*/

/*footer*/
footer {
    margin: 130px 0 0px 0;
    padding: 0 0 45px 0;
    background: #fff;
    border-top: 1px solid #ddd;
    text-align: center;    
}
footer .logo {
    width: 166px;
    height: 26px;
    margin: 40px auto 20px;
    background-position: -187px -2px;
}
footer ul {
    margin: 0 auto 20px;
    width: 420px;
}
footer ul li {
    float: left;
}
footer ul li a{
    color: #333;
}
footer ul li:after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    margin:0 10px;
    background: #b8b8b8;
}
footer ul li:last-child:after{
    display: none;
}
footer ul:after {
    content: "";
    display: block;
    clear: both;
}
footer p {
    color:#979797;
    font-size: 14px;
}
.main footer{    
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 0 30px 30px;
    text-align: left;
    background: transparent;
    color:#fff;
    border: 0;
    z-index: 1;
}
.main footer ul{
    text-align: left;
    font-size: 13px;
    margin: 10px 0;
}
.main footer .logo{
    margin: 0;
}
.main footer ul li a{
    color:#fff;
}
.main footer p{
    color:#fff;
    font-size: 12px;
}
/*footer 끝*/


/*익스플로러11 전용 css*/
/* IE9, IE10 */
@media screen and (min-width:0\0) {
    table,tr,th,td{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    header .right .logout button:before{
        width: 18px;
        height: 17px;
        top: 2px;
        left: -5px;
        background-position: -28px -1px;
    }    
    header .right .login button:before{
        width: 17px;
        height: 17px;
        top: 2px;
        left: -5px;
        background-position: -14px -1px;
    }
        header .right .logout{
        width: 80px;
    }
    header .right .login{
        width: 52px;
        padding: 0;
        padding-right: 10px;
        margin: 0;
    }
    .goodsboard .mile_tr button{
        vertical-align:4px;
    }
    .goodsboard .mile_tr input{
        padding: 5px;
        vertical-align: 5px;
    }
    }
/*익스플로러11 전용 css 끝*/
 